*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background-color: hsl(161.47deg 91.89% 14.51%);
	color: #ffffff;
	text-align: center;
	padding: 25px;
}

header h1, header h3{
	margin:5px;
}
